@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

body {
  margin: 0;
  font-family: 'Winky Sans', sans-serif;
  background: #FFFFFF;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  background: #ff8282;
  padding: 10px;
 
}

h1 {
  text-align: center;
  margin: 10px 0;
  color: #5a0000;
  text-shadow: #e8e8e8 2px 2px 0px;
  font-weight: 600;
}

.toolbar {
    color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

button, input[type="color"], input[type="range"] {
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 8px;
  background-color: #500707;
  color: #ff8282;
  text-shadow: #e8e8e8 1px 1px 0px;
  font-family: 'Winky Sans', sans-serif;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover, input[type="color"]:hover, input[type="range"]:hover {
  background-color: #E5E4E2;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  padding: 20px;
}

canvas {
  border: 2px solid #FF8282;
  border-radius: 12px;

}
.colorPickerLabel {
    cursor: pointer;
    display: inline-block;
  }
  
  .colorIcon {
    width: 40px; /* Tamaño de tu imagen */
    height: 40px;
    object-fit: contain;
    border: 2px solid #FF8282;
    border-radius: 8px;
    transition: transform 0.2s, background-color 0.2s;
  }
  
  .colorIcon:hover {
    transform: scale(1.1);
    background-color: #E5E4E2;
  }
  
